html {
        max-width: 60em;
        margin: auto;
        font: 110%/1.5 system-ui;
        border-bottom:solid #d92 21px
      }

      div {
        columns: 2 17em;
        column-fill: balance;
        margin-top: 0;
        column-gap: 2.5em;
        margin-bottom: 2.5rlh
      }

      nav {
        margin: 4rlh auto
      }

      h1,
      h2 {
        line-height: 1.2;
        text-wrap: balance;
        font-size: 180%;
        column-span: all;
      }

      h2 {
        border-bottom: 2px solid;
        margin: 0 auto 1rlh
      }

      h3,
      h2+p {
        margin-top: 0
      }

      p+h2 {
        margin: 2.5rlh auto 1rlh
      }

      summary{   display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold}

      a {
        color: unset;
        text-decoration: none;
        border-bottom: solid 1px;
        font-weight:bold;
        text-transform:uppercase
      }

      section {
        background-color: rgb(220, 220, 220, .25);
        margin-top: 0;
        padding: .5em;
        border-radius: 10px;
        font-family:menlo,monospace;
        border:1px dotted
      }
      
      ul {
        margin: 0 1em;
        line-height: 1.8
      }
details{column-span:all;max-width:39.5em;}
      
     article,section {
    display: inline-block;
    width: auto;
 }
